.product-row {
    justify-content: flex-start;
    gap: 2rem; 
    flex-wrap: wrap; 
}

.product-card {
    width: 100%;
    flex-direction: row; /* Viktigt: liggande layout */
    align-items: flex-start;
    gap: 1rem;
    transition: transform 0.3s ease;
    min-height: 120px;
}

.product-card img {
    width: 150px;
}

.sortBy li,
.filterBy li input,
.filterBy li label {
    cursor: pointer;
}