@page "/about"

<PageTitle>Om Oss</PageTitle>

<div class="container mt-4">
    <h2 class="title text-center mb-4">Om oss</h2>

    <div class="row justify-content-center mb-4">
        <div class="col-lg-10">
            <div class="pp-card p-3">
                <div id="aboutText" class="fs-5">
                    <p>
                        PixelPortalen Gamlestaden grundades år 2010 av spelentusiasten David Gillberg,
                        med en vision om att skapa en mötesplats för gamers i alla åldrar.
                        Vi är specialiserade på PC-spel och tillhörande kringutrustning, och vårt motto
                        <strong>"Där dina speläventyr börjar!"</strong> speglar vårt engagemang för spelkultur och gemenskap.
                    </p>
                    <p>
                        Vår butik ligger i hjärtat av Gamlestaden, en stadsdel i Göteborg med både historisk charm
                        och en växande kreativ scen. Området har på senare år blivit ett nav för unga entreprenörer,
                        kultur och teknik – vilket gör det till den perfekta platsen för ett modernt spelcenter.
                    </p>
                    <p>
                        Vi tror att det finns ett behov av fysiska butiker där spelare kan träffas, inspireras och få
                        personlig hjälp – oavsett vilka spel de spelar. På sikt är vårt mål att arrangera LAN och andra
                        spelrelaterade evenemang, där både anmälan och annonsering sker via vår webbplats.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-4 gap-4">
        <div class="col-md-5 pp-card p-1">
            <img src="images/ChatGPT.png" alt="ChatGPT-logo" class="img-fluid rounded shadow-sm"  />
        </div>
        <div class="col-md-5 pp-card p-1">
            <img src="images/store/store.webp" alt="Bild från vår butik" class="img-fluid rounded shadow-sm" />
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-lg-10">
            <div class="ratio ratio-16x9 pp-card p-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1065.1471986751014!2d12.00543478160648!3d57.72844253146559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1744807651836!5m2!1ssv!2sse"
                        style="border:0; filter: invert(90%) hue-rotate(180deg)" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                        class="rounded shadow-sm">
                </iframe>
            </div>
        </div>
    </div>
</div>
